body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
h3 {
    margin: auto; 
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    max-width: 200px;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    background-color: #d34c26;
    color: whitesmoke;
    display: inline-block;
    font-size: 25px;
    font-weight: lighter;
}

/* HEADER/ HERO  SECTION  */
header {
    background-image: url("./jr-korpa-wzkv5p5CIRk-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    color: whitesmoke;
}

.profile-picture {
    border-radius: 50%;
    height: 250px;
    border: 6px solid;
    position: absolute;
    right: 40px;
    top: 380px;
}

.social-media {
    position: absolute;
    right: 40px;
    top: 100px;
}

.social-media img {
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
}
.hero-elements {
    position: relative;
}
 .name-header{
     position: absolute;
     font-family: 'Roboto', sans-serif;
     font-size: 25px;
     top: 170px;
     left: 10px;
 }
 .claudia-name {
     font-family: 'Montserrat', sans-serif;
     font-weight: lighter;
 }
 .header-info {
     position: absolute;
     font-size: 35px;
     font: bold;
     top: 175px;
     left: 10px;
     margin: 0;
 }

 /* Summary SECTION  */
.summary {
    background-color: whitesmoke;
    height: 300px;
    margin: 0;
}
.summary p {
    padding: 20px;
    text-align: center;
    margin: 0;
    position: relative;
    top: 75px;
    max-width: 650px;
}

/* TECH SECTION  */
.tech {
    margin: 0;
    background-color: #adccc7;
    height: 300px;
    text-align: center;
    position: relative;
}
    .tech p {
    position: absolute;
    top: 120px;
}
/*FEATURED PROJECTS + OTHER SECTION*/
 .featured-projects {
    margin: 0;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    overflow: hidden;
    
}
.featured-container a {
    margin-bottom: 25px;
    text-decoration: none;
    color: black;
}
.featured-container {
    margin: 30px;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 300;
    margin: 10px 20px;
    text-align: left;
}
.card img {
    width: 300px;
    object-fit: cover;
}
.card h4 {
    margin: 10px;
    color: #d34c26;
    font-family: 'Roboto', sans-serif;
}
.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags p {
    background-color: #fddfe7;
    font-size: 17px;
    padding: 5px;
    margin-right: 13px;
    margin-top: 10px;
}

.other {
    margin: 0;
    background-color: whitesmoke;
    height: 300px;
    text-align: center;
    position: relative;
}
.other h3 {
    background-color: whitesmoke;
    color: #d34c26 ; 
}
/* MY THOUGHTS SECTION */
.my-thoughts {
    margin: 0;
    background-color: #adccc7;
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-thoughts iframe {
    height: 50%;
    position: absolute;
}
/* SKILLS SECTION */
.skills {
    margin: 0;
    height: 600px; 
    background-color: whitesmoke;
    text-align: center;
    position: relative;
}
.skill-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: inherit;
    top: 100px;
}
.skill-list {
    display: flex;
    flex-direction: column;  
}
.skill-container h4 {
    color: #d34c26
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* FOOTER */
footer {
    margin: 0;
    padding: 10px;
    background-color: #144c52;
    color: white;
    height: 150px;
    position: relative;
    text-align: center;

}